# created by virtualenv automatically

# 가상환경 폴더 (이름에 맞게 수정)
venv/
.venv/
env/
.env/
Include/
include/
lib/
Lib/
Scripts/
bin/
share/
temp/
PTGRDT/
PTGRD2/


# Python 캐시
__pycache__/
*.pyo
*.pyd
.Python
*.cfg
*.egg
*.egg-info/
*.manifest
*.spec

# 패키지 빌드
dist/
build/
*.egg-info/
index/
index2/
PTGRDT/
US_patent_images/
Patent_images/

# IDE
.vscode/
.idea/

# 환경변수 파일
.env
*.envpi

# 로그 파일
log/
*.log
nohup.out


# DB 파일
*.sqlite3
*.db

# 기타
*.xlsx
*.docx
*.png
file_list.txt

EOF